# Time Series

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [3]:
from datetime import datetime
now = datetime.now()
now
now.year, now.month, now.day

(2023, 11, 26)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days
#delta.seconds

926

In [7]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [8]:
stamp = datetime(2011, 1, 3)
str(stamp)
#stamp.strftime('%Y-%m-%d')

'2011-01-03 00:00:00'

In [9]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [10]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [12]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [13]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [14]:
idx = pd.to_datetime(datestrs + [None])
idx
#idx[1]
#pd.isnull(idx)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

## Time Series Basics

In [15]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [21]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [22]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [23]:
ts.index.dtype

dtype('<M8[ns]')

In [24]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [16]:
stamp = ts.index[2]
ts[stamp]
#ts[2]

-0.5194387150567381

In [23]:
ts
ts['1/10/2011']
#ts['20110110']

1.9657805725027142

In [31]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
len(longer_ts)
#len(longer_ts['2001'])
longer_ts[-5:]

2002-09-22   -0.997174
2002-09-23    0.046486
2002-09-24   -0.610441
2002-09-25   -0.394982
2002-09-26    1.199915
Freq: D, dtype: float64

In [26]:
longer_ts.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20',
               '2002-09-21', '2002-09-22', '2002-09-23', '2002-09-24',
               '2002-09-25', '2002-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [32]:
len(longer_ts['2001-05'])

31

In [28]:
len(ts[datetime(2011, 1, 7):])

4

In [34]:
ts
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [ ]:
ts.truncate(after='1/9/2011')

In [9]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.044697 -0.897756  0.890874 -1.151185
2001-05-09 -2.612303  1.141250 -0.867136  0.383583
2001-05-16 -0.437030  0.347489 -1.230179  0.571078
2001-05-23  0.060061 -0.225524  1.349726  1.350300
2001-05-30 -0.386653  0.865990  1.747234 -1.410246

In [10]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

### Time Series with Duplicate Indices

In [33]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [37]:
dup_ts.index.is_unique

False

In [39]:
dup_ts['1/3/2000']  # not duplicated
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [35]:
grouped = dup_ts.groupby(level=0)
#grouped = dup_ts.groupby()
grouped.mean()
#grouped.count()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [ ]:
pd.Series.groupby

## Date Ranges, Frequencies, and Shifting

In [42]:
ts
resampler = ts.resample('D')

### Generating Date Ranges

In [43]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [45]:
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [46]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [47]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range

### Frequencies and Date Offsets

In [36]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [37]:
four_hours = Hour(4)
four_hours

In [38]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [39]:
Hour(2) + Minute(30)

In [40]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [52]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [43]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts
ts.shift(2)
ts.shift(-2)

2000-01-31   -1.031573
2000-02-29   -0.044618
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [44]:
ts.shift(2)
ts.shift(-2)

2000-01-31   -1.031573
2000-02-29   -0.044618
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

ts / ts.shift(1) - 1

In [58]:
ts.shift(2, freq='M')

2000-03-31   -0.470134
2000-04-30    0.556250
2000-05-31    0.630606
2000-06-30   -0.211529
Freq: M, dtype: float64

In [59]:
ts.shift(3, freq='D')
#ts.shift(1, freq='90T')

2000-02-03   -0.470134
2000-03-03    0.556250
2000-04-03    0.630606
2000-05-03   -0.211529
dtype: float64

#### Shifting dates with offsets

In [45]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [46]:
now + MonthEnd()
#now + MonthEnd(2)

Timestamp('2011-11-30 00:00:00')

In [49]:
offset = MonthEnd()
offset.rollforward(now)
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [52]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    1.140204
2000-01-19   -0.139397
2000-01-23    0.130148
2000-01-27    0.673429
2000-01-31   -0.439194
2000-02-04   -0.450105
2000-02-08    1.543588
2000-02-12   -0.174925
2000-02-16   -1.766967
2000-02-20    1.395191
2000-02-24   -0.712856
2000-02-28    0.620955
2000-03-03   -0.490551
2000-03-07   -1.416465
2000-03-11    0.232588
2000-03-15    2.162370
2000-03-19   -0.703736
2000-03-23   -0.703728
2000-03-27    0.811639
2000-03-31    0.684245
Freq: 4D, dtype: float64

In [53]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.273038
2000-02-29    0.064983
2000-03-31    0.072045
dtype: float64

In [56]:
ts['2000-02'].mean()

0.06498281522433288

In [68]:
ts.resample('M').mean()

2000-01-31   -0.022207
2000-02-29   -0.922977
2000-03-31    0.126062
Freq: M, dtype: float64

## Time Zone Handling

In [57]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [58]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [59]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -1.338431
2012-03-10 09:30:00    1.880710
2012-03-11 09:30:00    1.328141
2012-03-12 09:30:00   -0.348691
2012-03-13 09:30:00   -0.553122
2012-03-14 09:30:00    0.502386
Freq: D, dtype: float64

In [60]:
print(ts.index.tz)

None

In [61]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [62]:
ts
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [65]:
ts_utc

2012-03-09 09:30:00+00:00   -1.338431
2012-03-10 09:30:00+00:00    1.880710
2012-03-11 09:30:00+00:00    1.328141
2012-03-12 09:30:00+00:00   -0.348691
2012-03-13 09:30:00+00:00   -0.553122
2012-03-14 09:30:00+00:00    0.502386
Freq: D, dtype: float64

In [66]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -1.338431
2012-03-10 04:30:00-05:00    1.880710
2012-03-11 05:30:00-04:00    1.328141
2012-03-12 05:30:00-04:00   -0.348691
2012-03-13 05:30:00-04:00   -0.553122
2012-03-14 05:30:00-04:00    0.502386
Freq: D, dtype: float64

In [69]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern
ts_eastern.tz_convert('UTC')
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -1.338431
2012-03-10 15:30:00+01:00    1.880710
2012-03-11 14:30:00+01:00    1.328141
2012-03-12 14:30:00+01:00   -0.348691
2012-03-13 14:30:00+01:00   -0.553122
2012-03-14 14:30:00+01:00    0.502386
dtype: float64

In [ ]:
ts.index.tz_localize('Asia/Shanghai')

### Operations with Time Zoneâˆ’Aware Timestamp Objects

In [85]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [ ]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

In [87]:
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [72]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [74]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp
stamp + (2 * Hour())

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [100]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    2.328747
2012-03-12 09:30:00+00:00    1.269121
2012-03-13 09:30:00+00:00   -1.871726
2012-03-14 09:30:00+00:00   -0.642649
2012-03-15 09:30:00+00:00   -2.748860
dtype: float64

In [101]:
ts

2012-03-07 09:30:00    1.031542
2012-03-08 09:30:00   -0.503164
2012-03-09 09:30:00    1.164374
2012-03-12 09:30:00    0.634560
2012-03-13 09:30:00   -0.935863
2012-03-14 09:30:00   -0.321324
2012-03-15 09:30:00   -1.374430
2012-03-16 09:30:00   -0.602326
2012-03-19 09:30:00   -0.259653
2012-03-20 09:30:00    0.391928
Freq: B, dtype: float64

## Periods and Period Arithmetic

In [3]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [5]:
p + 5
#p - 2

Period('2012', 'A-DEC')

In [6]:
pd.Period('2014', freq='A-DEC') - p

In [7]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [8]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.204708
2000-02    0.478943
2000-03   -0.519439
2000-04   -0.555730
2000-05    1.965781
2000-06    1.393406
Freq: M, dtype: float64

In [ ]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

### Period Frequency Conversion

In [14]:
p = pd.Period('2007', freq='A-DEC')
p
p.asfreq('M', how='start')
#p.asfreq('M', how='end')

Period('2007-01', 'M')

In [17]:
p = pd.Period('2007', freq='A-JUN')
p
#p.asfreq('M', 'start')
#p.asfreq('M', 'end')

Period('2007', 'A-JUN')

In [ ]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

In [19]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start')

2006-01    3.176873
2007-01    0.959533
2008-01   -0.975340
2009-01   -1.116742
Freq: M, dtype: float64

In [20]:
ts.asfreq('B', how='end')

2006-12-29    3.176873
2007-12-31    0.959533
2008-12-31   -0.975340
2009-12-31   -1.116742
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [21]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [22]:
p.asfreq('D', 'start')
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [ ]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

In [ ]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

### Converting Timestamps to Periods (and Back)

In [82]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts
pts = ts.to_period()

In [83]:
pts

2000-01   -0.184136
2000-02   -1.374542
2000-03    0.327381
Freq: M, dtype: float64

In [84]:
ts

2000-01-31   -0.184136
2000-02-29   -1.374542
2000-03-31    0.327381
Freq: M, dtype: float64

In [26]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2
ts2.to_period('M')

2000-01    1.288306
2000-01    0.851814
2000-01   -1.529181
2000-02   -1.551715
2000-02    0.297293
2000-02    0.344791
Freq: M, dtype: float64

In [31]:
pts = ts2.to_period()
pts.index
#ts2.index
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    1.288306
2000-01-30 23:59:59.999999999    0.851814
2000-01-31 23:59:59.999999999   -1.529181
2000-02-01 23:59:59.999999999   -1.551715
2000-02-02 23:59:59.999999999    0.297293
2000-02-03 23:59:59.999999999    0.344791
Freq: D, dtype: float64

### Creating a PeriodIndex from Arrays

In [87]:
data = pd.read_csv('examples/macrodata.csv')
data.head(5)
data.year
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [38]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                       freq='Q-DEC')
index
data.index = index
data
#data.infl

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008Q3,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008Q4,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009Q1,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009Q2,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009Q3,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

## Resampling and Frequency Conversion

In [43]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.resample('M').mean()

2000-01-31   -0.029090
2000-02-29    0.215963
2000-03-31    0.029019
2000-04-30    0.120910
Freq: M, dtype: float64

In [44]:
ts.resample('M', kind='period').mean()

2000-01   -0.029090
2000-02    0.215963
2000-03    0.029019
2000-04    0.120910
Freq: M, dtype: float64

### Downsampling

In [45]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [46]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [ ]:
ts.resample('5min', closed='right').sum()

In [47]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [ ]:
ts.resample('5min', closed='right',
            label='right', loffset='-1s').sum()

#### Open-High-Low-Close (OHLC) resampling

In [ ]:
ts.resample('5min').ohlc()

### Upsampling and Interpolation

In [48]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -1.281699  1.502586  0.653538 -0.319537
2000-01-12  0.955094  0.261996  0.160793 -0.571681

In [49]:
df_daily = frame.resample('D').asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -1.281699  1.502586  0.653538 -0.319537
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.955094  0.261996  0.160793 -0.571681

In [50]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -1.281699  1.502586  0.653538 -0.319537
2000-01-06 -1.281699  1.502586  0.653538 -0.319537
2000-01-07 -1.281699  1.502586  0.653538 -0.319537
2000-01-08 -1.281699  1.502586  0.653538 -0.319537
2000-01-09 -1.281699  1.502586  0.653538 -0.319537
2000-01-10 -1.281699  1.502586  0.653538 -0.319537
2000-01-11 -1.281699  1.502586  0.653538 -0.319537
2000-01-12  0.955094  0.261996  0.160793 -0.571681

In [51]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05 -1.281699  1.502586  0.653538 -0.319537
2000-01-06 -1.281699  1.502586  0.653538 -0.319537
2000-01-07 -1.281699  1.502586  0.653538 -0.319537
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.955094  0.261996  0.160793 -0.571681

In [52]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06 -1.281699  1.502586  0.653538 -0.319537
2000-01-13  0.955094  0.261996  0.160793 -0.571681

### Resampling with Periods

In [54]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001',
                                           freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]
annual_frame = frame.resample('A-DEC').mean()
annual_frame

      Colorado     Texas  New York      Ohio
2000 -0.342936 -0.183472 -0.178794  0.259195
2001 -0.099556  0.356624 -0.006637  0.100343

In [55]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC').ffill()
#annual_frame.resample('Q-DEC', convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q1 -0.342936 -0.183472 -0.178794  0.259195
2000Q2 -0.342936 -0.183472 -0.178794  0.259195
2000Q3 -0.342936 -0.183472 -0.178794  0.259195
2000Q4 -0.342936 -0.183472 -0.178794  0.259195
2001Q1 -0.099556  0.356624 -0.006637  0.100343
2001Q2 -0.099556  0.356624 -0.006637  0.100343
2001Q3 -0.099556  0.356624 -0.006637  0.100343
2001Q4 -0.099556  0.356624 -0.006637  0.100343

In [57]:
annual_frame

      Colorado     Texas  New York      Ohio
2000 -0.342936 -0.183472 -0.178794  0.259195
2001 -0.099556  0.356624 -0.006637  0.100343

In [56]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4 -0.342936 -0.183472 -0.178794  0.259195
2001Q1 -0.342936 -0.183472 -0.178794  0.259195
2001Q2 -0.342936 -0.183472 -0.178794  0.259195
2001Q3 -0.342936 -0.183472 -0.178794  0.259195
2001Q4 -0.099556  0.356624 -0.006637  0.100343
2002Q1 -0.099556  0.356624 -0.006637  0.100343
2002Q2 -0.099556  0.356624 -0.006637  0.100343
2002Q3 -0.099556  0.356624 -0.006637  0.100343

## Moving Window Functions

In [88]:
close_px_all = pd.read_csv('examples/stock_px_2.csv',
                           parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px[:10]
#close_px = close_px.resample('B').ffill()

            AAPL   MSFT    XOM
2003-01-02  7.40  21.11  29.22
2003-01-03  7.45  21.14  29.24
2003-01-06  7.45  21.52  29.96
2003-01-07  7.43  21.93  28.95
2003-01-08  7.28  21.31  28.83
2003-01-09  7.34  21.93  29.44
2003-01-10  7.36  21.97  29.03
2003-01-13  7.32  22.16  28.91
2003-01-14  7.30  22.39  29.17
2003-01-15  7.22  22.11  28.77

In [65]:
close_px = close_px.resample('B').ffill()
close_px[:10]

            AAPL   MSFT    XOM
2003-01-02  7.40  21.11  29.22
2003-01-03  7.45  21.14  29.24
2003-01-06  7.45  21.52  29.96
2003-01-07  7.43  21.93  28.95
2003-01-08  7.28  21.31  28.83
2003-01-09  7.34  21.93  29.44
2003-01-10  7.36  21.97  29.03
2003-01-13  7.32  22.16  28.91
2003-01-14  7.30  22.39  29.17
2003-01-15  7.22  22.11  28.77

In [ ]:
close_px.AAPL.plot()
close_px.AAPL.rolling(250).mean().plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = close_px.AAPL.rolling(250, min_periods=10).std()
appl_std250[5:12]
appl_std250.plot()

In [ ]:
expanding_mean = appl_std250.expanding().mean()

In [ ]:
plt.figure()

In [ ]:
close_px.rolling(60).mean().plot(logy=True)

In [ ]:
close_px.rolling('20D').mean()

### Exponentially Weighted Functions

In [ ]:
plt.figure()

In [ ]:
aapl_px = close_px.AAPL['2006':'2007']
ma60 = aapl_px.rolling(30, min_periods=20).mean()
ewma60 = aapl_px.ewm(span=30).mean()
ma60.plot(style='k--', label='Simple MA')
ewma60.plot(style='k-', label='EW MA')
plt.legend()

### Binary Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
spx_px = close_px_all['SPX']
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [ ]:
corr = returns.AAPL.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

In [ ]:
plt.figure()

In [ ]:
corr = returns.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

### User-Defined Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = returns.AAPL.rolling(250).apply(score_at_2percent)
result.plot()

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion